* {
	box-sizing: border-box;
}

html, body {
 height: 100%;
}

html {
	font-size: 16px;
}

body {
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	color: #44545E;
	line-height: 1.618em;
}

body p {
	font-family: 'Lato', sans-serif;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-transform: uppercase;	
	background-color: #FFF;
	width: 100%;
}

nav a {
	color: #D5F1F5;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	margin: 1em 1em;
	font-weight: bold;
	font-family: sans-serif;
}

header {
	color: white;
	background-image: url("https://git.generalassemb.ly/raw/sf-wdi-43/schedule/master/curriculum/week-01/week-one-project/solution-code/images/home_header_bg.jpg?token=AAAj-4Fhhp5s06hDuUhoGxcRTKzP17JSks5adOnjwA%3D%3D");
	background-size: cover;
	text-align: center;
	justify-content: center;
	align-content: center;
	padding: 10%;
	font-size: 2em;
	background-repeat: no-repeat;
	height: 20em;
	background-attachment: fixed;
}

header h2 {
	font-size: 1em;
}

section {
	display: flex;
	flex-direction: column;

}

div {
	padding-top: 0;
	padding-bottom: 54.4px;
	line-height: 1.5;

}

.flex {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.column {
	width: 30%;
	padding: 3em;
}

article {
	width: 100%;
	background-color: #D5F1F5;
	text-align: center;
	padding: 4em;
}

article p {
	max-width: ;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 2em;

}

h3 {
	text-align: center;
	text-transform: uppercase;
	padding: 1em;
}

h5 {
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
}

footer {
	width: 100%;
	background-color: #ADD8E6;
	text-align: center;
	padding: 5%;
}

button {
  color: #000;
  font-size: 1em;
  background: #FFF;
  padding: 17px 20px 17px 20px;
  text-decoration: none;
  border: solid black 1px;
  text-transform: uppercase;
}

input {
	background-color: white;
	padding: 17px 20px 17px 20px;
	position: relative;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}


form {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: block;
	align-content: space-around;

}

textarea {
	text-transform: uppercase;
	display: flex;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 1em;
	border: 1px solid #CCCCCC;
}

form button {
	width: 100%;
	background-color: #FFF;
	text-transform: uppercase;
	color: black;
}

.col {
	width: 33%;
	border: 1px solid #CCCCCC;
}

.column {
	width: 30%;
	column-count: 3;
}

#gallery {
	column-count: 3;
	justify-content: space-around;
}

.hamburger {
	display: none;
}

.social-links {
	font-size: 50px;
	padding: 10px;
	display: block;
}

.copyright {
	padding-top: 3em;
	border-top: 1px solid #000;
	width: 100%;
}

button:hover {
	background-color: #ADD8E6;
	color: #FFF;
}

nav a:hover {
	background-color: #ADD8E6;
	color: #FFF;
}

@media only screen and (max-width: 560px) {
	.flex {
		flex-direction: column;
	}

	.column {
		width: 100%;
		column-count: 1;
	}

	.gallery {
		column-count: 1;
	}

	.col {
		width: 100%;
	}

	.hamburger {
		display: block;
		color: #ADD8E6;
		font-size: 1em;
	}

	.nav {
		display: none;
	}


	section {
		width: 100%;
	}

	#gallery {
		column-count: 2;
	}

}
