* {
	box-sizing: border-box;
}

html, body {
 height: 100%;
}

html {
	font-size: 16px;
}

body {
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	color: #44545E;
	line-height: 1.618em;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-transform: uppercase;	
	background-color: #FFF;
	width: 100%;
}

nav a {
	color: #D5F1F5;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	margin: 1em 1em;
	font-weight: bold;
	font-family: sans-serif;
}

header {
	color: white;
	background-image: url("https://git.generalassemb.ly/raw/sf-wdi-43/schedule/master/curriculum/week-01/week-one-project/solution-code/images/home_header_bg.jpg?token=AAAj-4Fhhp5s06hDuUhoGxcRTKzP17JSks5adOnjwA%3D%3D");
	background-size: cover;
	text-align: center;
	justify-content: center;
	align-content: center;
	padding: 10%;
	font-size: 2em;
	background-repeat: no-repeat;
	height: 20em;
}

section {
	display: flex;
	flex-direction: column;

}

div {
	text-align: left;
	padding-top: 0;
	padding-bottom: 54.4px;
	line-height: 1.5;

}

.flex {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.column {
	width: 30%;
	padding: 3em;
}

article {
	width: 100%;
	background-color: #D5F1F5;
	text-align: center;
	padding: 4em;
}

article p {
	max-width: ;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 2em;

}

h3 {
	text-align: center;
	text-transform: uppercase;
	padding: 1em;
}

h5 {
	font-size: 2em;
}

footer {
	width: 100%;
	background-color: #ADD8E6;
	text-align: center;
	padding: 5%;
}

button {
  color: #FFF;
  font-size: 20px;
  background: #ADD8E6;
  padding: 17px 20px 17px 20px;
  text-decoration: none;
  border: solid black 1px;
}

input {
	background-color: white;
	padding: 17px 20px 17px 20px;
	position: relative;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}


form {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	display: block;
	align-content: space-around;
}

textarea {
	text-transform: uppercase;
	display: flex;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 20px;
}

form button {
	width: 100%;
	background-color: #FFF;
	text-transform: uppercase;
	color: black;
}

.name {
	width: 30%;

}

.column {
	width: 30%;
	column-count: 3;
}

.email {
	width: 29%;
}

#gallery {
	column-count: 3;
}

.hamburger {
	color: #fff;
}

.social-links {
	font-size: 50px;
	padding: 10px;
	display: block;
}